.header{
    height: 450px;
    background-position: center;
    background-size: cover;
    background-image: url(img/bg.jpeg);
}
.logo{
    width: 130px;
}
#pe-seccion2{
    font-size: .8em;
}
#pe-seccion3{
    font-size: .8em;
}

@media (max-width: 390px){
    h1{
        font-size: 1.2em;
    }
    p{
        font-size: .8em;
    }
    
}